@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);

  --cells-sortable-table-th-color: var(--bbva-600, #121212);
  --cells-sortable-table-td-color: var(--bbva-500, #666666);
  --cells-sortable-table-border-color-dark: var(--bbva-500, #666666);
  --cells-sortable-table-border-color-light: var(--bbva-400, #BDBDBD);
  --cells-sortable-table-cell-font-size: rem(15px);

  @apply --cells-sortable-table;
}

:host([hidden]), [hidden] {
  display: none !important;
}

.sr-only {
  @include visuallyhidden;
}

// ----------------------------
// Default basic styles (no class)
// ----------------------------

th, td {
  text-align: var(--cells-sortable-table-cell-text-align, left);
  @apply --cells-sortable-table-cell;
}

th {
  font-weight: 500;
  @apply --cells-sortable-table-th;
}

td {
  @apply --cells-sortable-table-td;
}

thead th {
  @apply --cells-sortable-table-thead-th;
}

tbody tr:nth-child(even) {
  @apply --cells-sortable-table-tbody-tr-even;
}

tbody tr:nth-child(odd) {
  @apply --cells-sortable-table-tbody-tr-odd;
}

tbody th {
  white-space: nowrap;
  @apply --cells-sortable-table-tbody-th;
}

tbody td {
  @apply --cells-sortable-table-tbody-td;
}

table {
  width: 100%;
  border-collapse: collapse;
  @apply --cells-sortable-table-table;
}

caption {
  @apply --cells-sortable-table-caption;
}

// ----------------------------
// Heading + sorting btns wrapper
// ----------------------------

.th-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  @apply --cells-sortable-table-th-content;
}

.th-content__label {
  flex: 1;
  @apply --cells-sortable-table-th-content-text;
}

.highlight {
  background-color: var(--cells-sortable-table-highlight-bg-color, var(--bbva-white-yellow, #FEF5DC));
  @apply --cells-sortable-table-highlight;
}

// ----------------------------
// Sorting buttons
// ----------------------------

.toggle {
  display: flex;
  @apply --cells-sortable-table-toggle;
}

.toggle__btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  vertical-align: middle;
  cursor: pointer;
  @apply --cells-sortable-table-toggle-btn;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &[aria-checked="true"] {
    cursor: default;
    opacity: 0.5;
    @apply --cells-sortable-table-toggle-btn-selected;
  }
}

.toggle__icon {
  width: var(--cells-sortable-table-icon-size, rem(20px));
  height: var(--cells-sortable-table-icon-size, rem(20px));
  @apply --cells-sortable-table-toggle-icon;
}

// ----------------------------
// Coronita styles
// https://ui.bbva.com/web_modules/tables/
// ----------------------------

:host(.simple) {
  th, td {
    padding-left: var(--cells-sortable-table-simple-cells-padding-horizontal, rem(32px));
    padding-right: var(--cells-sortable-table-simple-cells-padding-horizontal, rem(32px));
    font-size: var(--cells-sortable-table-simple-cells-font-size, var(--cells-sortable-table-cell-font-size));
    @apply --cells-sortable-table-simple-cell;
  }

  th {
    color: var(--cells-sortable-table-simple-th-color, var(--cells-sortable-table-th-color));
    font-weight: 500;
    @apply --cells-sortable-table-simple-th;
  }

  td {
    color: var(--cells-sortable-table-simple-td-color, var(--cells-sortable-table-td-color));
    @apply --cells-sortable-table-simple-td;
  }

  thead tr > * {
    border-bottom: 1px solid var(--cells-sortable-table-simple-thead-cell-border-color, var(--cells-sortable-table-border-color-dark));
    padding-top: var(--cells-sortable-table-simple-thead-cell-vertical-padding, 1rem);
    padding-bottom: var(--cells-sortable-table-simple-thead-cell-vertical-padding, 1rem);
    @apply --cells-sortable-table-simple-thead-cell;
  }

  tbody tr > * {
    padding-top: var(--cells-sortable-table-simple-tbody-cell-vertical-padding, rem(24px));
    padding-bottom: var(--cells-sortable-table-simple-tbody-cell-vertical-padding, rem(24px));
    border-bottom: 1px solid var(--cells-sortable-table-simple-tbody-cell-border-color, var(--cells-sortable-table-border-color-light));
    @apply --cells-sortable-table-simple-tbody-cell;
  }
}

:host(.comparison) {
  table {
    border: 1px solid var(--cells-sortable-table-comparison-table-border-color, var(--cells-sortable-table-border-color-dark));
    @apply --cells-sortable-table-comparison-table;
  }

  th, td {
    padding-left: var(--cells-sortable-table-comparison-cell-horizontal-padding, rem(32px));
    padding-right: var(--cells-sortable-table-comparison-cell-horizontal-padding, rem(32px));
    font-size: var(--cells-sortable-table-comparison-cell-font-size, var(--cells-sortable-table-cell-font-size));
    @apply --cells-sortable-table-comparison-cell;
  }

  td {
    color: var(--cells-sortable-table-comparison-td-color, var(--cells-sortable-table-td-color));
    @apply --cells-sortable-table-comparison-td;
  }

  th {
    color: var(--cells-sortable-table-comparison-th-color, var(--cells-sortable-table-th-color));
    @apply --cells-sortable-table-comparison-th;
  }

  thead tr > * {
    border-bottom: 1px solid var(--cells-sortable-table-comparison-thead-cell-border-color, var(--cells-sortable-table-border-color-dark));
    border-right: 1px solid var(--cells-sortable-table-comparison-thead-cell-border-color, var(--cells-sortable-table-border-color-dark));
    padding-top: var(--cells-sortable-table-comparison-thead-cell-vertical-padding, rem(24px));
    padding-bottom: var(--cells-sortable-table-comparison-thead-cell-vertical-padding, rem(24px));
    @apply --cells-sortable-table-comparison-thead-cell;
  }

  tbody tr > * {
    padding-top: var(--cells-sortable-table-comparison-tbody-cell-vertical-padding, rem(8px));
    padding-bottom: var(--cells-sortable-table-comparison-tbody-cell-vertical-padding, rem(8px));
    border-right: 1px solid var(--cells-sortable-table-comparison-tbody-cell-border-color, var(--cells-sortable-table-border-color-dark));
    @apply --cells-sortable-table-comparison-tbody-cell;
  }

  tbody tr:first-of-type > * {
    padding-top: var(--cells-sortable-table-comparison-tbody-first-row-cell-padding-top, rem(24px));
    @apply --cells-sortable-table-comparison-tbody-first-row-cell;
  }

  tbody tr:last-of-type > * {
    padding-bottom: var(--cells-sortable-table-comparison-tbody-last-row-cell-padding-bottom, rem(24px));
    @apply --cells-sortable-table-comparison-tbody-last-row-cell;
  }
}

:host(.complex) {
  table {
    border: 1px solid var(--cells-sortable-table-complex-table-border-color, var(--cells-sortable-table-border-color-dark));
    @apply --cells-sortable-table-complex-table;
  }

  th, td {
    padding: var(--cells-sortable-table-complex-cell-padding, rem(24px) rem(32px));
    font-size: var(--cells-sortable-table-complex-cell-font-size, var(--cells-sortable-table-cell-font-size));
    border-top: 1px solid var(--cells-sortable-table-complex-cell-border-color, var(--cells-sortable-table-border-color-dark));
    border-right: 1px solid var(--cells-sortable-table-complex-cell-border-color, var(--cells-sortable-table-border-color-dark));
    @apply --cells-sortable-table-complex-cell;
  }

  td {
    color: var(--cells-sortable-table-complex-td-color, var(--cells-sortable-table-td-color));
    @apply --cells-sortable-table-complex-td;
  }

  th {
    color: var(--cells-sortable-table-complex-th-color, var(--cells-sortable-table-th-color));
    @apply --cells-sortable-table-complex-th;
  }
}
