h2 {
    color: #2a86ca;
    text-align: center;
    font-family: "BentonSansBBVA Medium" !important;
    font-size: 1.4em;
    font-weight: normal;
}
h3 {
    color: #2a86ca;

    font-family: "BentonSansBBVA Medium" !important;
    font-size: 1.4em;
    font-weight: normal;
}
.contenedor{
  padding-left: 68px;
  padding-right: 68px;
}


  h1 {
      font-size: 24px !important;
      margin-top: 15px;
      margin-bottom: 0px !important;
  }

  h1 {
      color: #52bcec;
      font-size: 36px;
      font-family: "BentonSansBBVA Medium" !important;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 41px;
  }

  .contenedor_formulario{
    padding-left: 12%;
    padding-right: 10%;
    padding-top: 1%;
  }
  .anotacion{
    font-size: 11px !important;
  color: #666;
  font-style: initial;
  font-family: BBVA Web Book,sans-serif;
  line-height: 13px;
  }
  .titulo{
    font-size: 1em;
  width: 44em;
  padding: 1.3em 0 .8em 0;
  font-family: "BentonSansBBVA Medium" !important;
  color: #2A86CA;
  border-bottom: 1px solid #E9E9E9;
  line-height: 1.2;
  }

  .celdacabecera {
      background: #004482 none repeat scroll 0 0 !important;
      color: #fff;
      font-family: "BentonSansBBVA Medium";

      font-weight: 500;
      padding: 20px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 13px;
      padding: 12px 30px;
      border:1px solid #e9e9e9;js

/*background:transparent url("../img/sprite-coronita.png") no-repeat scroll -2px -531px ;*/

  }

  .celdacuerpo {


      font-family: "BentonSansBBVA Medium";

      font-weight: 500;
      padding: 20px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: 13px;
      padding: 12px 30px;
      border:1px solid #e9e9e9
  }
