#content,
#unblock{
width: 795px;
overflow: hidden;
margin: 0 auto;
padding-bottom: 10px;
}

#unblock{
text-align: center;
margin-top: 20px;
}

section{
width: 360px;
background: #fff;
height: auto;
min-height: 435px;
}

section.fotologin{
height: 435px;
}


div.head{
font-size: 15px;
color: #043f8d;
font-family: bbvaDefaultFont;
min-height: 59px;
border-bottom: solid 1px #f0f1f2;
padding-left: 23px;
margin-top: 0px;
padding-top: 20px;
}

section.fotologin .helpButton{
margin-right: 19px;
margin-top: -5px;
}

section.credentials{
float: left;
margin-left: 5px;
margin-top: 11px;
}

section.credentials.unique{
float: none;
margin-left: auto;
margin-right: auto;
margin-top: 11px;
padding:10px;
}


section.fotologin{
float: right;
margin-right: 5px;
margin-top: 11px;
}

section .photo{
width: 65px;
min-height: 65px;
margin: 0 auto;
background: url('../../images/sprite-icons.png') no-repeat -4px -3px;
margin-top: 15px;
}

#userPhotoWrapper {
background: #fff;
filter: alpha(opacity=1);
filter: alpha(opacity=1);
opacity: 1;
-moz-opacity: 1;
height: 60px;
cursor: pointer;
margin: 20px 8px 1px 8px;
}

.circlePhoto {
width: 66px;
height: 66px;
-webkit-border-radius: 50%;
border-radius: 50%;
overflow: hidden;
}

.circlePhoto.userCirclePhoto {
border-style: solid;
border-width: 4px;
border-color: #fff;
width: 66px;
height: 66px;
margin-right: auto;
margin-left: auto;
}

#userPhoto {
display: inline-block;
width: 66px;
height: 66px;
}
.userCirclePhoto.nolan #userPhoto {
background: url('sprite-icons.png') no-repeat -4px -3px;
}

#userPhotoWrapper img{
max-width: 100%;
width: auto\9;
height: auto;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}

form{
position: relative;
min-height: 300px;
}

form.short{
height: 225px;
}

form label{
color: #333333;
font-size: 14px;
margin-left: 22px;
margin-bottom: 4px;
}

label[for=password]{
margin-top: 20px;
}

li label[for=password]{
margin-top: 0;
}

.form{
padding:10px;
}

form input{
display: block;
width: 100%;
padding: 5px 10px!important;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
color: #4c9cd9;
font-size: 100%;
line-height: 20px;
/*margin-left: 20px;
margin-right: 10px;  */
border: 1px solid #ebebeb;


border-radius: 3px;
}



p.dear{
text-align: center;
font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
}

section.credentials .actions{
text-align: right;
/*margin-right: 28px;*/
margin-top: 28px;
padding-bottom: 20px;
}

.actions .btn{
background-color: #0072c9;
padding: 10px 40px!important;
border-radius: 2px!important;
font-size: 15px;
width: 315px;
font-weight: bold;

}



p.block{
text-align: center;
margin-top: 15px;
clear: both;
}

.fotologin p{text-align: center;}
.fotologin .qrcode{
margin: 75px auto 0 auto;
}

/*	unblock users screen	*/
section.unblock,
section.selection,
section.newpassword,
section.completedProcess{
width: 785px;
height: 430px;
background: #fff;
margin: 5px;
margin-top: 11px;
}

section header{
font-size: 20px;
border-bottom: solid 1px #f0f1f2;
padding: 14px 0;
}
section header h2{
color: #0072c9;
font-size: 20px;
background: url('sprite-icons.png') no-repeat -83px -54px;
padding-left: 45px;
font-weight: bold;
margin-left: 5px;
}
