<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-iban-validator-behavior/cells-iban-validator-behavior.html">

<dom-module id="nueva-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
      .highlight {
       color: #F94CC4;
     }



     .validIBAN {
       color: green;
     }

     .invalidIBAN {
       color: red;
     }
     .contenedor2{
       padding-top:170px;
       padding-left: 40%;

     }

    </style>

    <template is="dom-if" if="{{flag}}">
      <br>
        <div class="contenedor2 border">
          <section>
            <div class="contenedor_formulario border">
              <form name="form_post" action="" >

                <h2>Nueva Cuenta</h2>
                <br>

                <cells-molecule-input label="IBAN" type="text" value="{{iban::input}}" icon="coronita:account" required error-message="This field cannot be empty" autofocus allowed-value="[0-9]+[a-zA-Z]"></cells-molecule-input>
                <span class="anotacion">Escribe el código IBAN de 24 cifras.</span>
                <!--<span class="highlight">{{_ibanValid}}</span>
                <span class="highlight">{{_ibanFormatted}}</span>-->
                <br>
                <cells-molecule-input label="Nombre de la cuenta" type="text" value="{{nombrecuenta::input}}" icon="coronita:bill" on-click=formatIban({{iban}}) required error-message="This field cannot be empty" icon-size="26"></cells-molecule-input>
                <br>
                <cells-st-button class="quaternary">
                  <button type="button" name="enviar"  on-click="enviarNuevaCuenta">Crear nueva cuenta</button>
                </cells-st-button>
                <br>
             </form>
           </div>
          </section>
             <br>
        </div>
    </template>


<iron-ajax
    id="insertarNuevaCuenta"
    url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/clienteIban/nuevaCuenta"
    handle-as="json"
    on-response="cuentaDevuelta"
    on-error="mostrarErrorNuevoCuenta"
    method="POST">
</iron-ajax>
  </template>

  <script>

    class NuevaCuenta extends Polymer.Element {
      static get is() { return 'nueva-cuenta'; }
      static get behaviors(){ return CellsBehaviors.IbanValidatorBehavior}
      static get properties() {
        return {
          iban:{
            type:String,

          },
          dni:{
            type:String,
          },
          flag:{
            type:String,
          },
          apellidos:{
            type:String,
          },
          nombrecuenta:{
            type:String,
            value:""
          },
        /*  _ibanValid: {
            type: String,
            computed: '_computedIbanValid(iban)'
          },
          _ibanFormatted: {
            type: String,
            computed: '_computedIbanFormatted(iban)'
        }*/


        };
      }
      /*  _computedIbanValid(iban) {
       var valid;
       if (isValidIban(iban)) {
         valid = 'validIBAN';
       } else {
         valid = 'invalidIBAN';
       }
       return valid;
     }
     _computedIbanFormatted(iban) {
       return formatIban(iban);
     }*/
      crearcuentausuario(dni,apellidos){
        this.flag="nuevo"
        this.dni=dni
        this.apellidos=apellidos
      }
      enviarNuevaCuenta(){
        if (this.nombrecuenta == "" || this.iban == "")
        {
          swal("Error!", "Debe de completar todos los campos obligatorios", "error");
        }
        else
        {

          if  (fn_ValidateIBAN(this.iban)==true)
          {

            this.$.insertarNuevaCuenta.headers.iban=this.iban
            this.$.insertarNuevaCuenta.headers.dni=this.dni
            this.$.insertarNuevaCuenta.headers.nombrecuenta=this.nombrecuenta
            this.$.insertarNuevaCuenta.generateRequest()
          }
          else{
              swal("Error!", "Formato IBAN incorrecto", "error");
              this.iban="";
          }
        }
      }

      cuentaDevuelta(){
         swal("Good job!", "Su cuenta se ha creado correctamente", "success");
         console.log("La cuenta  ha sido insertada con el dni",this.dni, "y apellida", this.apellidos)
         this.dispatchEvent (new CustomEvent("nuevacuenta",{"detail":{"dni":this.dni,"apellidos":this.apellidos}}))
         this.flag=""
         this.initProperties()
      }
      mostrarErrorNuevoCuenta(){
         swal("Error!", "Ya existe una cuenta con dicho IBAN", "error");
         this.iban="";

      }
      initProperties(){
        console.log("entra a borrar los valores");
        this.nombrecuenta=""
        this.iban=""
        }

    }

    window.customElements.define(NuevaCuenta.is, NuevaCuenta);
  </script>
</dom-module>
