<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-select/cells-select.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-search.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<dom-module id="nuevo-movimiento">
  <template>
    <style>
      :host {
        display: block;
    }
    google-map {
   height: 300px;
 }

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
#select_options{
  max-height:"21.5rem" !important;
}
#izquierda, #izquierda2 {
   float: left;
}
#derecha {
   float: right;
}

#izquierda, #derecha {
   width:33%;
}
#izquierda2,#derecha2{
   width:33%;
}
#derecha2{
float: right;
}
#contenido {
   margin-left: 34%;
   width:31%;
}
#todo {
   width:100%;
}
.contenedor{
  padding-top:64px;
  padding-bottom:70px;
}
section {
    border: 1px solid #dee2e6 !important;
    width:100%;
}
.formulario {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom:4%;
}
cells-select-item{
  border-top=none;
}

    </style>
<script language="JavaScript" type="text/JavaScript" src="config.js"></script>

    <template is="dom-if" if="{{flaglogado}}">
      <br>
      <div class="contenedor border">
        <section>
          <br>
          <h2>Nuevo movimiento</h2>
          <br>
          <div class="formulario">
           <form name="form_post" action="">
             <div id="todo">
                 <div id="izquierda">
                   <cells-molecule-input label="Descripcion" type="text" value="{{descripcion::input}}" icon="coronita:bill" required error-message="This field cannot be empty" icon-size="26"></cells-molecule-input>
                </div>
                <div id="derecha">
                  <cells-select options="[[optionsArray]]" id="concepto" on-select-item-selected="selectItem" label="concepto" right-icon="coronita:unfold" ></cells-select>
                </div>
                <div id="contenido">
                  <cells-molecule-input label="Importe" type="text" value="{{importe::input}}" icon="coronita:euro" required error-message="This field cannot be empty" icon-size="26" prevent-invalid-input ></cells-molecule-input>
                </div>

               </div>

               <br>
               <br>


              <label for="urlfoto">Por favor, introduce las coordenadas de donde se ha efectuado el movimiento</label>
              <div id="todo">

                 <div id="izquierda">
                      <cells-molecule-input label="Busca un lugar" type="text" value="{{ubicacion::input}}" icon="coronita:home" icon-size="26" ></cells-molecule-input>
                 </div>
                 <div id="derecha2">
                      <cells-molecule-input label="Longitud" type="text" value="{{longitud::input}}" icon="coronita:home" icon-size="26" prevent-invalid-input ></cells-molecule-input>
                 </div>
                 <div id="contenido">
                     <cells-molecule-input label="Latitud" type="text" value="{{latitud::input}}" icon="coronita:home" icon-size="26" prevent-invalid-input ></cells-molecule-input>
                </div>

                 <br>

                </div>
                <br>


              <template is="dom-if" if="{{ubicacion}}">
                  <div style="padding-top:39px">
                    <google-map-search map="{{map}}" query="{{ubicacion}}" results="{{results}}" >
                    </google-map-search>

                    <google-map map="{{map}}" latitude="40.501577" longitude="-3.666226" api-key="{{google_key}}" zoom=7 libraries="geometry,places">
                      <template is="dom-repeat" items="{{results}}" as="marker">
                        <google-map-marker latitude="{{marker.latitude}}"
                                           longitude="{{marker.longitude}}">
                          <h2>{{marker.name}}</h2>
                          <span>{{marker.formatted_address}}</span>
                        </google-map-marker>
                      </template>


                    </google-map>

                  </div>
              </template>
              <br>
              <br>
              <div class="input-group image-preview">
                    <i class="glyphicon glyphicon-picture"></i>
                    <label for="urlfoto">Por favor, adjunta la imagen asociada del movimiento</label>

                    <input type="file" name="fichero"  on-change="VerImagen" data-validation="required" icon="coronita:ticket"/>
                    <img name="image" id="image" style="margin-top:10px;max-width:45%;height:30%;border-radius:8px;"/>
                </div>
                <br>

          <br>
          <cells-st-button class="quaternary">
              <button type="button" name="enviar" on-click="enviar">Enviar</button>
          </cells-st-button>

            </form>
          </div>
        </section>
        </div>
    </template>

    <iron-ajax
        id="insertarNuevoMovimiento"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientos/nuevo"
        handle-as="json"
        on-response="movimientoDevuelto"
        on-error="mostrarErrorNuevoMov"
        method="POST">
    </iron-ajax>
  </template>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.82.0.min.js" async></script>



<script>

    class NuevoMovimiento extends Polymer.Element {
      static get is() { return 'nuevo-movimiento'; }
      static get properties() {
        return {
          iban:{
            type:String,
            value:""
          },
          descripcion:{
            type:String,
            value:""
          },
          importe:{
            type:Number,
            value:""
          },

          concepto:{
            type:String,
          },
          dni:{
            type:String,
          },
          flaglogado:{
            type:String,
            value:"",
            observer: "_vigilarLogado"
          },
          apellidos:{
            type:String,

          },
          detalle:{
            type:String,

          },
         aws_url_api: {
           type: String,
           value: "https://s3-eu-west-1.amazonaws.com/imagenestechu"
         },
         aws_url_api2: {
           type: String,
           value: "https://bucket_posts.execute-api.eu-west-1.amazonaws.com"
         },
         aws_url_api3: {type: String, value: "https://bucket_posts.eu-west-1.amazonaws.com"},
         aws_url_host: {type: String, value: "https://bucket_posts.s3.amazonaws.com"},
         //Esta varibale está Amazon Security Credentials
         aws_access_key: {type: String, value: ""},
         aws_secret_access_key: {type: String, value: ""},
         aws_bucket: {type: String, value:"imagenestechu"},
         aws_url_foto: {type: String, value:"https://s3-eu-west-1.amazonaws.com/imagenestechu/"},
         aws_region: {type: String, value: "eu-west-1"},
         google_key: {type: String, value: ""},


    		 latitud:{
    		     type: String,
             value:""
    		 },
    		 longitud:{
    		     type: String,
             value:""
    		 },
         ubicacion:{
            type: String,
            value:""
         },



        optionsArray :{
          type: Array,
          value:[
              {
                title: 'Nomina',
              },
              {
                title: 'Transferencia',
              },
              {
                title: 'Pago',
              },
              {
                title: 'Compra',
              },
              {
                title: 'Venta',
              }
            ]
          }


      };
    }
    _vigilarLogado(valorActual, valorAnterior) {
       this.flaglogado = valorActual;


   }

   selectItem(e) {
     this.concepto=e.detail.title
   }

      nuevoMov(iban,dni,apellidos){
        this.iban=iban
        this.dni=dni
        this.apellidos=apellidos
        this.flaglogado="nuevo"
        this.google_key=TOKEN_SECRET_GOOGLE


      }
      enviar()
      {
        if (this.descripcion == "" || this.importe == "")
        {
          swal("Error!", "Debe de completar todos los campos obligatorios", "error");
        }
        else
        {

          this.flaglogado="nuevo"
          this.$.insertarNuevoMovimiento.headers.iban=this.iban
          this.$.insertarNuevoMovimiento.headers.idcliente=this.dni
          this.$.insertarNuevoMovimiento.headers.importe=this.importe
          this.$.insertarNuevoMovimiento.headers.descripcion=this.descripcion
          this.$.insertarNuevoMovimiento.headers.concepto=this.concepto
          this.$.insertarNuevoMovimiento.headers.latitud=this.latitud
          this.$.insertarNuevoMovimiento.headers.longitud=this.longitud
          this.ubicacion="https://maps.google.com/?q="+ this.latitud+','+this.longitud
          this.$.insertarNuevoMovimiento.headers.ubicacion=this.ubicacion
          var urlfoto = this.aws_url_foto + document.getElementsByName("fichero")[0].files[0].name

          this.$.insertarNuevoMovimiento.headers.detalle=urlfoto

          //ahora tenemos que hacer la llamada a la funcion de ajax hacerLogin
          this.$.insertarNuevoMovimiento.generateRequest()
        }
      }
      movimientoDevuelto(response){
        swal("Good job!", "Su movimiento se ha realizado correctamente", "success");

        this.initProperties()
        this.dispatchEvent (new CustomEvent("movimientoactualizado",{"detail":{"dni":this.dni,"apellidos":this.apellidos}}))
        this.dispatchEvent (new CustomEvent("movimientonuevo",{"detail":{"iban":this.iban,"apellidos":this.apellidos}}))

        this.subirAS3Amazon()
        this.initProperties()

      }

      VerImagen()
      {
         var reader = new FileReader();
         reader.onload = function (e) {
         console.log("mira e",e)
         document.getElementsByName("image")[0].src = e.target.result;
         };
         // read the image file as a data URL.
         reader.readAsDataURL(document.getElementsByName("fichero")[0].files[0]);

       }
       subirAS3Amazon() {
          var reader = new FileReader();
          reader.readAsDataURL(document.getElementsByName("fichero")[0].files[0]);
          var file = document.getElementsByName("fichero")[0].files[0];

          //Empezamos a usar API Amazon S3
          AWS.config = new AWS.Config();

          var apiKey= TOKEN_SECRET_AMAZON
          var apiKeysecret=TOKEN_SECRET_AMAZON_KEY
          console.log (apiKey,apiKeysecret)
          this.aws_access_key=apiKey
          this.aws_secret_access_key=apiKeysecret
          AWS.config.accessKeyId = this.aws_access_key;
          AWS.config.secretAccessKey = this.aws_secret_access_key;
          AWS.config.region = this.aws_region;
          var s3 = new AWS.S3();
          var params = {
            Body: file,
            Bucket: this.aws_bucket,
            Key: file.name,
            ACL: "public-read"
          };
          s3.putObject(params, function(err, data)
          {
             if (err)
                console.log("Error al subir ", err, err.stack);
             else
                console.log("Fichero subido a Amazon:", data);
          }
      );
  }
      initProperties(){
        console.log("entra a borrar los valores");
          this.descripcion= ""
         this.importe=""
          this.detalle = ""
          this.latitud=""
          this.longitud=""
          this.ubicacion=""
          this.concepto=""

          //document.getElementsByName("fichero")[0].files[0]= ""
          document.getElementsByName("image")[0].src = ""
        }
        mostrarErrorNuevoMov(){

            console.log("Error al insertar el movimientos");
        }

    }

    window.customElements.define(NuevoMovimiento.is, NuevoMovimiento);
  </script>
</dom-module>
