<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/cells-button-toolbar/cells-button-toolbar.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">



<dom-module id="cabecera-app">
  <template>

    <style>
      :host {
        display: block;
      }
      header {
      background-color: #072146;
      height: 100px;}
      header .navbar-brand img {
          max-width: 160px;
      }
      .bg-darko {
    background-color: #004481 !important;
}
fixed-topo{
  position: "static"
}

    </style>

    <iron-ajax
        id="deleteusuarios"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/borrar"
        handle-as="json"
        on-response="mostrarResultadoEliminar"
        on-error="mostrarErrorEliminar"
        method="DELETE">
    </iron-ajax>
    <header>
      <iron-ajax
          id="eliminarCuentasusuario"
          url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/eliminarCuentas"
          handle-as="json"
          on-response="cuentaseliminadas"
          on-error="mostrarErrorEliminasCuentas"
          method="DELETE">
      </iron-ajax>

    <div class="container-fluid h-100 d-flex align-items-center">
      <div class="row">
        <div class="col-12 text-left hidden-lg-up">
          <a class="navbar-brand logo" href="/" style="margin-left: 0px;">
            <img class="img-fluid animado" src="../../images/logo-bbva-blanco.png" alt="BBVA">
          </a>
        </div>
      </div>
    </div>
    <div>
    <template is="dom-if" if="{{flaglogado}}">
    <nav class="navbar navbar-expand-md navbar-dark bg-darko fixed-topo">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" on-click="VerCuentas">Posicion Global</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" on-click="nuevaCuenta">Nueva Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://s3-eu-west-1.amazonaws.com/imagenestechu/bases+concurso+talento_12032018.pdf" target="_blank">Bases Legales</a>
          </li>



        </ul>

  </script>
  <cells-st-button class="quaternary">
      <button type="button" id="{{iban}}" name="realizarmovimiento" on-click="logout">LogOut</button>
  </cells-st-button>
  <cells-st-button class="quaternary">
      <button type="button" id="{{iban}}" name="realizarmovimiento" on-click="eliminarUsuario">Eliminar usuario</button>
  </cells-st-button>

      </div>
    </nav>
    </template>
  </div>
</header>
  </template>

  <script>

    class CabeceraApp extends Polymer.Element {
      static get is() { return 'cabecera-app'; }
      static get properties() {
        return {
          flaglogado:{
            type:String,
            value:"",
            observer: "_vigilarLogado"
          },
          dni:{
            type:String,
            value:"",
            observer: "_vigilardni"
          },
          apellido:{
            type:String,
            value:"",
            observer: "_vigilarapellido"
          },
          tools0: {
            type:Array,
          value: [
            {
              iconCode: 'coronita:rewards',
              id: 'puntos',
              isActive: false
            },
            {
              iconCode: 'coronita:transfer',
              id: 'descuentos',
              isActive: false
            },
            {
              iconCode: 'coronita:calendar',
              id: 'intereses',
              isActive: false
            },
            {
              iconCode: 'coronita:filter',
              id: 'filtros',
              isActive: false
            },
            {
              iconCode: 'coronita:more',
              id: 'more',
              isActive: false
            }
          ]}

        };
      }
      _vigilardni(valorActual, valorAnterior) {
       console.log("aqui",valorActual, valorAnterior);

         this.dni = valorActual;

     }
     _vigilarapellido(valorActual, valorAnterior) {
      console.log("aqui",valorActual, valorAnterior);

        this.apellido = valorActual;

    }
    _vigilarLogado(valorActual, valorAnterior) {
     console.log("aqui",valorActual, valorAnterior);

       this.flaglogado = valorActual;

   }
      logout(){

        this.dispatchEvent (new CustomEvent("inicio",{"detail":{"logout":true}}))

      }
      eliminarUsuario(){
        console.log("llega al pulsar el eliminar usaurio")
        this.$.deleteusuarios.headers.dni=this.dni
        this.$.deleteusuarios.generateRequest()


      }
      nuevaCuenta(){
          var dni=this.dni
          var apellidos=this.apellidos
          console.log ("Crear Nueva Cuenta")
          this.dispatchEvent (new CustomEvent("crear",{"detail":{"dni":dni,"apellidos":apellidos}}))

      }
      VerCuentas(){
          var dni=this.dni
          var apellidos=this.apellidos
          console.log ("Ver Cuentas")
          console.log (dni)
          this.dispatchEvent (new CustomEvent("logado",{"detail":{"dni":dni,"apellidos":apellidos}}))

    }
    mostrarResultadoEliminar(){

      console.log ("Usuario eliminado correctamente")
      this.$.eliminarCuentasusuario.headers.dni=this.dni
      this.$.eliminarCuentasusuario.generateRequest()


    }
    eliminarcuentas(e){
      console.log("muestrame el id",e)
      var dni=this.dni
      console.log ("Elminar Cuentas del dni",dni)
      this.$.eliminarCuentasusuario.headers.dni=dni
      this.$.eliminarCuentasusuario.generateRequest()
    }
    mostrarErrorEliminasCuentas()
    {
      console.log("No se ha eliminado las cuentas del usuario")
    }
    mostrarErrorEliminar(){
      console.log("No se ha eliminado el usuario")
    }
    cuentaseliminadas(){
      swal({
          title: "Estás tú seguro",
          text: "Se borrará su perfil y todas cuentas asociadas",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Se ha eliminado tu perfil", {
              icon: "success",


            }
          );
          console.log("Se ha eliminado las cuentas del usuario");
          this.dispatchEvent (new CustomEvent("inicio",{"detail":{"logout":true}}));
          } else {
            swal("Gracias por confiar en IntraGae",{icon: "success",});

          }
        });


    }
  }
        window.customElements.define(CabeceraApp.is, CabeceraApp);
  </script>
</dom-module>
