<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-icons/cells-icons.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">


<dom-module id="login-usuario">
  <template>
    <link href="../../css/login.css" rel="stylesheet" type="text/css"/>



    <style>
      :host {
        display: block;
      }


    </style>



    <iron-ajax
        id="hacerLogin"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/login"
        handle-as="json"
        on-response="mostrarResultadoLogin"
        on-error="mostrarError"
        method="POST">
    </iron-ajax>

<!-- si no se ha logado te lo muestra-->

<div class="wrapper">
<br>
    <h1> Bienvenido a IntraGAE </h1>

</div>
<div id="content">
    <section class="credentials border unique">

      <div class="photo"></div>

      <div class="head">Por favor introduce sus datos</div>
      <div class="form">
        <form name="form_post" action="">

            <cells-molecule-input label="DNI" type="text" value="{{dni::input}}"  icon="coronita:account" autofocus required error-message="This field cannot be empty">
  <iron-icon icon="coronita:account"></iron-icon>
          </cells-molecule-input>
          <iron-icon ic:on="account"></iron-icon>
             <br>

            <cells-molecule-input label="Password" type="password"  value="{{password::input}}" required error-message="This field cannot be empty" icon="coronita:visualize" icon-toggled="coronita:hide" icon-label="View or hide password" extra-icon="coronita:close" extra-icon-label="Clear field"></cells-molecule-input>

             <br>

            <div class="error_container" style="display: none;">
              <ol style="display: none;"></ol>
            </div>
            <div class="actions">
                <button type="button" name="enviar" on-click="logar" class="btn btn-primary btn-primary-devices enter">Acceder</button>
            </div>
            <span hidden$="{{!logado}}"></span>

            <p><small>¿No tienes cuenta? </small></p>
            <cells-st-button class="quaternary">

                <button type="button" name="registrarusuario" on-click="registrarusuario">Registrate</button>
            </cells-st-button>

          </form>

      </div>
    </section>
</div>

<!--<paper-button raised onclick="animated.open()">open</paper-button>
<paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
  <h2>Dialog Title</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</paper-dialog>-->



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          dni: {
            type: String,
            value:""
          },
          password: {
            type: String,
            value:""

          },
          logado:{
            type:Boolean,
            value:true,
            notify:true
          }
        };
      }


      mostrarResultadoLogin(resultado){
        swal("!Bienvenido!", "En breves momentos se mostrarán sus cuentas activas", "success");
        sessionStorage.setItem("logado", true);
        //tengo que hacer un disptach pasandole el id del cresultado.detail.response.liente en mi caso DNI
          this.dispatchEvent (new CustomEvent("logado",{"detail":{"dni":resultado.detail.response.dni,"apellidos":resultado.detail.response.apellidos}}))
          this.initProperties()
      }
      logar(){
        //para acced  this.dispatchEvent (new CustomEvent("mievento",{detail:{"curso":"Techu","anno":"2018"}}))er a la funcion de ajax de arriba es this.$
        //como en la llamada a la api dijimos que el dni y el password venia por la cabecera por eso lo meto con headers
        //app.post ('/apitechu/v5/usuarios/login',function (req,res)
        //  var dni = req.headers.dni
        //    var password =req.headers.password

        if (this.dni == "" || this.password == "")
        {
          swal("Error!", "Debe de completar todos los campos obligatorios", "error");
        }
        else
        {
          //  if (validateDNI(this.dni)==true)
          //  {
              this.$.hacerLogin.headers.dni=this.dni
              this.$.hacerLogin.headers.password=this.password
              console.log ("hacer peticion")
              //ahora tenemos que hacer la llamada a la funcion de ajax hacerLogin
              this.$.hacerLogin.generateRequest()
              console.log ("peticion enviada")
              this.initProperties()
              this.logado=true
          //  }
          //  else{
          //    swal("Error!", "Formato de Dni incorrecto", "error");
          //  }
          }
      }
      registrarusuario(){
        console.log ("registrarse")
              this.dispatchEvent (new CustomEvent("nuevousuario",{"detail":{"dni":"hola","apellidos":"hola"}}))
              this.logado=true
      }
      mostrarError(error){
        swal("Error!", "Usuario y contraseña incorrectos", "error");
        initProperties ()
      }
      initProperties () {
       this.dni = "";
       this.password = "";
     }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
