<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--vamos a importar una clase que equivale a un for-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/cells-sortable-table/cells-sortable-table.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="visor-movimientos">
  <template>
    <!--  <link href="../../css/cells-sortable-table.scss" rel="stylesheet" type="text/css"/>-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;

      }

      google-chart {
        height: 400px;
        width: 100%;
      }
      .grafico2{
        padding-left: 32% !important;
        padding-right: 20%;
      }
      h2 {
          color: ##2a86ca;
          float: left;
          font-family: BBVA Web Light,sans-serif;
          font-size: 1.4em;
          font-weight: normal;
      }
      .contenedor{
        padding-left: 68px;
        padding-right: 68px;
      }
      .graficoderecha{
        width:50%;
        float:right;
      }
      .graficoizquierda{
        width:50%;
        float:left;
      }
      .graficos{
        width:90%;

      }


    </style>

    <iron-ajax
        id="obtenerMovimientos"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientos"
        handle-as="json"
        on-response="mostrarResultadoMovimientos"
        on-error="mostrarErrorMovimientos" >
    </iron-ajax>
    <iron-ajax
        id="obtenerConceptosMovimientos"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientos_conceptos"
        handle-as="json"
        on-response="mostrarResultadoMovimientosConceptos"
        on-error="mostrarErrorMovimientosConceptos" >
    </iron-ajax>

<template is="dom-if" if="{{flaglogado}}">
  <div class="contenedor">
    <cells-sortable-table>
    </cells-sortable-table>
    <template is="dom-if" if="{{movimientos}}">
      <br>
      <h3>Movimientos de la cuenta con IBAN {{iban}}</h3>
      <br>
            <table class="cells-sortable-table tablesorter tablesorter-default">
              <thead class="style-scope cells-sortable-table">
                <tr class="style-scope cells-sortable-table">
                  <th class="celdacabecera">ID</th>
                  <th class="celdacabecera">Concepto</th>
                  <th class="celdacabecera">Importe</th>
                  <th class="celdacabecera">Fecha</th>
                  <th class="celdacabecera">Descripcion</th>
                  <th class="celdacabecera">Factura</th>
                  <th class="celdacabecera">Ubicación</th>

                </tr>
              </thead>
              <tbody class="style-scope cells-sortable-table">
                <template is="dom-repeat" items="{{movimientos}}">

                <tr class="style-scope cells-sortable-table">
                  <th class="celdacuerpo">{{item.id}}</th>
                  <th class="celdacuerpo">{{item.concepto}}</th>
                  <th class="celdacuerpo">
                    <cells-atom-amount  amount="{{item.importe}}" currency-code="EUR" local-currency="EUR"></cells-atom-amount>
                  </th>

                  <th class="celdacuerpo" >{{item.fecha}}</th>
                  <th class="celdacuerpo">{{item.descripcion}}</th>
                  <th class="celdacuerpo">
                    <a href="{{item.detalle}}" target="_blank">
                      <paper-button>Más detalle</paper-button>
                    </a>
                  </th>
                  <th class="celdacuerpo">
                    <a href="{{item.ubicacion}}" target="_blank">
                      <paper-button>Ver</paper-button>
                    </a>
                  </th>

                </tr>

              </template>
            </tbody>
          </table>
          <br>
          <br>
          <cells-st-button class="quaternary">
              <button type="button" id="{{iban}}" name="realizarmovimiento" on-click="realizarmovimiento">Realizar movimiento</button>
          </cells-st-button>
          <cells-st-button class="quaternary">
              <button type="button" name="VerCuentas" on-click="VerCuentas">Volver a Cuentas</button>
          </cells-st-button>
          <br>
          <br>
          <div class="graficos">
            <div class="graficoizquierda">
              <google-chart
                type='pie'
                options='{"title": "Distribución de Movimientos"}'
                cols='[{"label":"Concepto", "type":"string"}, {"label":"Importe", "type":"number"},{"label":"Numero total", "type":"number"}]'
                rows='{{grafico}}'>
              </google-chart>
            </div>
                <div class="graficoderecha">
              <google-chart
                type='column'
                options='{"title": "Distribución de Movimientos"}'
                cols='[{"label":"Concepto", "type":"string"}, {"label":"Importe", "type":"number"},{"label":"Numero total", "type":"number"}]'
                rows='{{grafico}}'>
              </google-chart>
              </div>
            </div>

        </template>
        <br>
        <br>

      </div>

  </template>
</template>

  <script>


    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban:{
            type:String,
          },
          nombrecuenta:{
            type:String,
          },
          movimientos:{
            type:Array,
              observer: "_vigilarMovimientos"
          },
          flaglogado:{
            type:String,
            value:"",
            observer: "_vigilarNuevo"

          },
          dni:{
            type:String,
          },
          grafico:{
            type:Array
          }
          /*headers:{
            type:Array,
            value:[{
                          label: ''
                        }, {
                          label: 'Fecha',
                          id: 'Fecha',
                          sortable: true
                        }, {
                          label: 'descripcion',
                          id: 'descripcion',
                          sortable: true
                        },{
                          label: 'id',
                          id: 'id',
                          sortable: true
                        },
                         {
                          label: 'importe',
                          id: 'importe',
                          sortable: true
                        }, {
                          label: 'concepto',
                          id: 'id',
                          sortable: true
                        }]
          },
          rows :{
            type:Array,
            value:[]}*/

        };
      }
      _vigilarNuevo(valorActual, valorAnterior) {
         this.flaglogado = valorActual;
     }
     _vigilarMovimientos(valorActual, valorAnterior) {
        this.movimientos = valorActual;
    }
    realizarmovimiento(e){
      var iban=e.target.id
      var dni=this.dni
      var apellidos=this.apellidos
      this.dispatchEvent (new CustomEvent("mov",{"detail":{"iban":iban,"dni":dni,"apellidos":apellidos}}))
      this.flaglogado=""
      }
      VerCuentas(){
          var dni=this.dni
          var apellidos=this.apellidos
          this.dispatchEvent (new CustomEvent("logado",{"detail":{"dni":dni,"apellidos":apellidos}}))
          this.movimientos=""

        }

      obtenerMovimientos(iban,apellidos,dni){
        this.flaglogado="flag"
        this.iban=iban
        this.apellidos=apellidos
        this.dni=dni
        this.$.obtenerMovimientos.headers.iban=iban

        this.$.obtenerMovimientos.generateRequest()


      }
      mostrarResultadoMovimientos(resultado){
        this.no_movimiento=""

        this.movimientos=resultado.detail.response[0].movimientos
        this.$.obtenerConceptosMovimientos.headers.iban=this.iban
        this.$.obtenerConceptosMovimientos.generateRequest()
        //this.rows=this.movimientos

      }
      mostrarResultadoMovimientosConceptos(resultado){
        this.grafico=resultado.detail.response


      }
      mostrarErrorMovimientos(error){
        var apellidos=this.apellidos
        var dni=this.dni
        this.flaglogado=""
        swal("Error", "No hay movimientos asociadas para esta cuenta", "error");

        this.dispatchEvent (new CustomEvent("logado",{"detail":{"dni":dni,"apellidos":apellidos}}))
        }
        mostrarErrorMovimientosConceptos(error){
          swal("Error!", "Fallo al recuperar los datos", "error");
        }



      }



    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>

</dom-module>
