<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="log-out">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
        id="realizarlogout"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/logout"
        handle-as="json"
        on-response="logoutrealizado"
        on-error="mostrarErrorLogout"
        method="POST">
    </iron-ajax>
  </template>

  <script>

    class LogOut extends Polymer.Element {
      static get is() { return 'log-out'; }
      static get properties() {
        return {

        };
      }
      logout(dni){
        console.log("llega al pulsar el logout")
        this.$.realizarlogout.headers.dni=dni
        console.log ("hacer peticion")
        //ahora tenemos que hacer la llamada a la funcion de ajax hacerLogin
        this.$.realizarlogout.generateRequest()
      }
      logoutrealizado()
      {

        console.log("logout hecho")
        this.dispatchEvent (new CustomEvent("logoutusuariorealizado",{"detail":{"logout":"ok"}}))
      }
      mostrarErrorLogout()
      {
        console.log("logout no se ha hecho")
      }

    }
        window.customElements.define(LogOut.is, LogOut);
  </script>
</dom-module>
