<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--vamos a importar una clase que equivale a un for-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/cells-sortable-table/cells-sortable-table.html">
<link rel="import" href="../../bower_components/cells-sortable-table/cells-sortable-table.html">
<!--<link rel="import" href="../../bower_components/cells-atom-amount/cells-atom-amount">-->

<dom-module id="visor-cuentas">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <style>
              :host {
                display: block;
              }
              google-chart {
                height: 400px;
                width: 90%;
              }
              .grafico2{
                padding-left: 32% !important;
                padding-right: 20%;
              }
              .derecha{
                 width:30%;
              }
              .izquierda{
                 width:60%;
              }

              .todo{
                 width:100%;
              }
              .graficoderecha{
                width:50%;
                float:right;
              }
              .graficoizquierda{
                width:50%;
                float:left;
              }
              .graficos{
                width:90%;

              }

            </style>

            <iron-ajax
                id="obtenerCuentas"
                url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/clienteIban"
                handle-as="json"
                on-response="mostrarCuentas"
                on-error="mostrarErrorCuentas">
            </iron-ajax>
            <iron-ajax
                id="obtenerCuentasGrafica"
                url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/clienteIbanGrafica"
                handle-as="json"
                on-response="mostrarCuentasGrafica"
                on-error="mostrarErrorCuentasGrafica">
            </iron-ajax>
            <iron-ajax
                id="eliminarCuentausuario"
                url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/eliminarCuenta"
                handle-as="json"
                on-response="cuentaeliminada"
                on-error="mostrarErrorEliminaCuentas"
                method="DELETE">
            </iron-ajax>



<template is="dom-if" if="{{flaglogado}}">
  <br>
  <br>
  <br>
        <div class="contenedor">
          <cells-sortable-table>
          </cells-sortable-table>
              <template is="dom-if" if="{{no_cuentas}}">
                <br>
                <h3 >Bienvenido Sr./Sra. {{apellidos}} no dispone de ninguna cuenta activa.</h3>
                <br>
                <cells-st-button class="quaternary">

                    <button type="button" name="crearCuenta" on-click="crearCuenta">Crear Nueva Cuenta</button>
                </cells-st-button>

              </template>

              <template is="dom-if" if="{{cuentas}}">
                <br>
                <h3>Bienvenido Sr {{apellidos}}. Sus Cuentas activas son las siguientes</h3>
                <br>

                          <table class="cells-sortable-table tablesorter tablesorter-default">
                            <thead class="style-scope cells-sortable-table">
                              <tr class="style-scope cells-sortable-table">
                                  <th class="celdacabecera">IBAN</th>
                                  <th class="celdacabecera">Nombre</th>
                                  <th class="celdacabecera">Saldo</th>
                                  <th  class="celdacabecera" style="width:10%;"> Ver mov.</th>
                                  <th  class="celdacabecera" style="width:16%;"> Nuevo mov.</th>
                                  <th  class="celdacabecera" style="width:10%;"> Eliminar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <template is="dom-repeat" items="{{cuentas}}">
                                <tr class="style-scope cells-sortable-table">
                                  <th class="celdacuerpo">{{item.iban}}</th>
                                  <th class="celdacuerpo">{{item.nombrecuenta}}</th>

                                  <th class="celdacuerpo">
                                    <cells-atom-amount  amount="{{item.saldo}}" currency-code="EUR" local-currency="EUR"></cells-atom-amount>
                                  </th>

                                    <th class="celdacuerpo">
                                      <cells-st-button class="secondary" class="size-xs">
                                        <button name="verMovimientos" on-click="verMovimientos" id="{{item.iban}}" >

                                          <cells-atom-icon  class="btn-icon icon-size-24" icon="coronita:info" ></cells-atom-icon>
                                        </button>
                                      </cells-st-button>
                                    </th>
                                    <th class="celdacuerpo">
                                      <cells-st-button class="secondary" class="size-xs">
                                        <button id="{{item.iban}}"name="realizarmovimiento" on-click="realizarmovimiento">
                                          <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:add" ></cells-atom-icon>
                                        </button>
                                      </cells-st-button>
                                    </th>
                                    <th class="celdacuerpo">
                                      <cells-st-button class="secondary" class="size-xs">
                                        <button id="{{item.iban}}"name="eliminarcuenta" on-click="eliminarcuenta">
                                          <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:close" ></cells-atom-icon>
                                        </button>
                                      </cells-st-button>
                                    </th>

                                  </tr>
                              </tbody>
                            </table>



                      <div class="graficos">
                        <div class="graficoizquierda">
                        <google-chart
                          type='pie'
                          options='{"title": "Distribución de Cuentas"}'
                          cols='[{"label":"Concepto", "type":"string"}, {"label":"Importe", "type":"number"}]'
                          rows='{{grafico}}'>
                        </google-chart>
                      </div>
                      <div class="graficoderecha">
                        <google-chart
                          type='column'
                          options='{"title": "Distribución de Cuentas"}'
                          cols='[{"label":"Concepto", "type":"string"}, {"label":"Importe", "type":"number"}]'
                          rows='{{grafico}}'>
                        </google-chart>
                      </div>
                    </div>

                    </template>
              </template>
          </div>
      </template>
</template>

  <script>

    class VisorCuentas extends Polymer.Element {

      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          dni:{
            type:String,
            value:""
          },
          apellidos:{
            type:String,
          },
          cuentas:{
            type:Array
          },
          no_cuentas:{
            type:String,
            observer: "_vigilarCuentas"
          },
          iban:{
            type:String,
          },
          movimientos:{
            type:Array

          },
          flaglogado:{
            type:String,
            value:"",
            observer: "_vigilarNuevo"

          },
          grafico:{
            type:Array
          }

        };
      }
      _vigilarNuevo(valorActual, valorAnterior) {

         this.flaglogado = valorActual;

     }
     _vigilarCuentas(valorActual, valorAnterior) {

        this.no_cuentas = valorActual;

    }

      mostrarCuentas(resultado){

        this.cuentas=resultado.detail.response



        }
        mostrarCuentas2(resultado){
            console.log("estsa es la respuesta de la consulta de cuentas", resultado.detail.response)

        }
      mostrarErrorCuentas(error){
        console.log(error.detail.response)
        this.no_cuentas="No hay cuentas asociadas para este usuario"
      }
      //tengo que pasarle el dni
      obtenerCuentas(apellidos,idcliente){
        this.flaglogado="nuevo"
        this.dni=idcliente
        this.apellidos=apellidos
        this.$.obtenerCuentas.headers.idcliente=idcliente
        this.$.obtenerCuentas.generateRequest()
        this.$.obtenerCuentasGrafica.headers.idcliente=idcliente
        this.$.obtenerCuentasGrafica.generateRequest()

      }
      cuentaeliminada(e){
        var apellidos=this.apellidos;
        var id=this.dni;
        this.cuentas=""
        this.no_cuentas=""
        swal({
            title: "Estás tú seguro",
            text: "Se borrará la cuenta y sus movimientos",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              swal("Se ha eliminado la cuenta", {
                icon: "success",


              }
            );
            this.obtenerCuentas(apellidos,id);


            } else {
              swal("No se ha eliminado la cuenta",{icon: "success",});
            }
          });


      }
      mostrarCuentasGrafica(resultado){

        this.grafico=resultado.detail.response

      }
      verMovimientos(e){
        var iban=e.target.id
        var dni=this.dni

          this.cuentas=""
          this.dispatchEvent (new CustomEvent("movimientos",{"detail":{"iban":iban,"dni":dni}}))

        }

      realizarmovimiento(e){
        var iban=e.target.id
        var dni=this.dni
        var apellidos=this.apellidos

        this.dispatchEvent (new CustomEvent("mov",{"detail":{"iban":iban,"dni":dni,"apellidos":apellidos}}))


        this.flaglogado=""
        }
        crearCuenta(){
          var dni=this.dni
          var apellidos=this.apellidos

          this.dispatchEvent (new CustomEvent("crear",{"detail":{"dni":dni,"apellidos":apellidos}}))
          this.no_cuentas=""

          }
          eliminarcuenta(e){

            var iban=e.target.id
            var dni=this.dni


            this.$.eliminarCuentausuario.headers.iban=iban
            this.$.eliminarCuentausuario.headers.dni=dni
            this.$.eliminarCuentausuario.generateRequest()
          }
          mostrarErrorEliminaCuentas()
          {
            console.log("No se ha eliminado la cuenta del usuario con dni")
          }


      }



    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
