<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/cells-icons/cells-icons.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-checkbox-button/cells-checkbox-button.html">


<dom-module id="nuevo-usuario">
  <template>
    <style>
      :host {
        display: block;
}
#izquierda, #izquierda2 {
   float: left;
}
#derecha {
   float: right;
}

#izquierda, #derecha {
   width:33%;
}
#izquierda2,#derecha2{
   width:20%;
}
#derecha2{
  float:left;
  padding-left: 20px;
}
#contenido {
   margin-left: 34%;
   width:31%;
}
#todo {
   width:100%;
}
.contenedor{
  padding-top:30px;
  padding-bottom:70px;
}
section {
    border: 1px solid #dee2e6 !important;
    width:100%;
}
.formulario {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom:4%;
}


    </style>
<template is="dom-if" if="{{flagUser}}">
  <div class="contenedor border">
    <section>
      <br>
      <h2>Alta Cliente</h2>
      <br>
      <div class="formulario">
       <form name="form_post" action="">
          <span class="titulo">Empieza por crear tu usuario que será tu DNI y tu clave de acceso con la que accederás a BBVA.</span>
         <div id="todo">
             <div id="izquierda">

               <cells-molecule-input label="DNI" type="text" value="{{dni::input}}" icon="coronita:account" required error-message="This field cannot be empty" icon-size="26" autofocus max-length="9" allowed-value="[0-9]+[a-zA-Z]"></cells-molecule-input>
              <span class="anotacion">Escribe la letra de tu documento sin espacios.</span>
            </div>
            <div id="derecha">
              <cells-molecule-input label="Nombre" type="text" value="{{nombre::input}}" icon="coronita:ticket" required error-message="This field cannot be empty" icon-size="26"></cells-molecule-input>

            </div>
            <div id="contenido">


              <cells-molecule-input label="Password" type="password" value="{{password::input}}"  required max-length="6" max-length="4" icon="coronita:visualize" icon-toggled="coronita:hide" icon-label="View or hide password" extra-icon="coronita:close" extra-icon-label="Clear field" ></cells-molecule-input>
              <span class="anotacion">La clave de acceso debe tener entre 4 y 6 caracteres.</span>
              <span class="anotacion">Puedes usar números, letras, mayúsculas y minúsculas</span>
            </div>

           </div>

           <br>
           <br>
           <div id="todo">
               <div id="izquierda">

                 <cells-molecule-input label="Apellidos" type="text" value="{{apellidos::input}}" icon="coronita:ticket" required error-message="This field cannot be empty" icon-size="26"  allowed-value="[a-zA-Z]"></cells-molecule-input>
              </div>
              <div id="derecha">

                <cells-molecule-input label="Telefono" type="text" value="{{telefono::input}}" icon-size="26" icon="coronita:telephone" required error-message="This field cannot be empty" max-length="9" allowed-value="[0-9-]"></cells-molecule-input>

                </div>
              <div id="contenido">
                <cells-molecule-input label="Email" type="email" icon="coronita:email" auto-validate error-icon="coronita:alert" value="{{email::input}}" required error-message="Por favor, completa un mail válido" icon-size="26" allowed-value="^[a-zA-Z0-9.!#$%’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+.com$"></cells-molecule-input>

                </div>

             </div>
              <br>
              <cells-checkbox-button icon-check="coronita:checkmark">He leído, comprendo y acepto el tratamiento de mis datos personales de las bases legales</cells-checkbox-button>

               <cells-st-button class="quaternary">
                   <button type="button" name="enviar"  on-click="registrarse">Registrar usuario</button>
               </cells-st-button>
               <br>
         </form>
         <br>
    </div>
</template>


    <iron-ajax
        id="insertarNuevoUsu"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/nuevo"
        handle-as="json"
        on-response="usuarioDevuelto"
        on-error="mostrarErrorNuevoUsu"
        method="POST">
    </iron-ajax>
  </template>

  <script>

    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          dni:{
            type:String,
            value:""
          },
          nombre:{
            type:String,
            value:""
          },
          apellidos:{
            type:String,
            value:""
          },
          telefono:{
            type:String,
            value:""
          },
          email:{
            type:String,
            value:""
          },
          password:{
            type:String,
            value:""
          },
          flagUser:{
            type:String,
            value:""

          }


        };
      }
      nuevoUsu(e){
        console.log("nuevo user")
        this.flagUser="nuevo usuario"
      }
      registrarse()
      {
        if (this.password == "" || this.nombre == "" || this.email == "" || this.apellidos == "")
        {
          swal("Error!", "Debe de completar todos los campos obligatorios", "error");
        }
        else
        {
              if (validateDNI(this.dni)==true)
            {
                this.$.insertarNuevoUsu.headers.nombre=this.nombre
                this.$.insertarNuevoUsu.headers.apellidos=this.apellidos
                this.$.insertarNuevoUsu.headers.email=this.email
                this.$.insertarNuevoUsu.headers.password=this.password
                this.$.insertarNuevoUsu.headers.dni=this.dni
                console.log ("hacer peticion")
                //ahora tenemos que hacer la llamada a la funcion de ajax hacerLogin
                this.$.insertarNuevoUsu.generateRequest()
              }
              else{
                this.dni=""
                swal("Error!", "Formato de DNI incorrecto", "error");
              }
        }
      }
      usuarioDevuelto(response)
      {
        var respuesta =response
            if (respuesta.detail.status=="201"){
              sessionStorage.setItem("logado","yes")
              swal("!Bienvenido a Intragae!", "", "success");
              this.dispatchEvent (new CustomEvent("logado",{"detail":{"dni":respuesta.detail.response.dni,"apellidos":respuesta.detail.response.apellidos}}))
              this.flagUser=""
              this.initProperties()  }
            else{
              swal("Error!", "Usuario no creado", "error");}
        }
      mostrarErrorNuevoUsu(){
          swal("Error!", "Ya existe un usuario con dicho DNI", "error");
          this.dni=""

      }
      initProperties(){

        console.log("entra a borrar los valores");
        this.password= ""
        this.nombre=""
        this.email = ""
        this.apellidos=""
        this.dni=""

        }
    }
        window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
