<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Hola soy [[nombre]] [[apellidos]] y mi DNI es  [[dni]] !</h2>
    <iron-ajax
        auto=""
        id="obtenerUsuario"
        url ="http://apifinal-apitechujdea.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{dni}}"
        handle-as="json"
        on-response="mostrarDatos">
    </iron-ajax>

<div class="row">
  <h1 class="col-xs-5">Bienvenido MR {{nombre}} {{apellidos}}</h1>
  <button class="btn-info">Login</button>
  <button class="btn-default">Logout</button>

</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          dni: {
            type: String
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }
      mostrarDatos(datos)
      {
        //habria que comprobar que datos viene correctamente
        console.log("Bienvenido Mr",datos.detail.response.nombre,datos.detail.response.apellidos)
        console.log(datos.detail)
        this.nombre=datos.detail.response.nombre
        this.apellidos=datos.detail.response.apellidos
        this.email=datos.detail.response.email

      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
