<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">



<link rel="import" href="/src/cabecera-app/cabecera-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/src/nuevo-movimiento/nuevo-movimiento.html">
<link rel="import" href="/src/nuevo-usuario/nuevo-usuario.html">
<link rel="import" href="/src/nueva-cuenta/nueva-cuenta.html">
<link rel="import" href="/src/log-out/log-out.html">


<dom-module id="container-app">
  <template>
    <style>
    [hidden]{
      display:none !important
    }
      :host {
        display: block;
      }
    </style>

    <!--el padre tiene dentro el emisor,donde se pone on-"nombre del evento que he puesto en el emisor" y despues ponerle el evento que quiero que se ejecute-->

    <cabecera-app id="cabecera" on-inicio="inicializar" on-crear="crearcuenta" on-logado="vercuentas"></cabecera-app>
    <login-usuario hidden$={{estoylogado}} id="login" on-logado="vercuentas" on-nuevousuario="registro"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="visor" on-mov="nuevomovi" on-movimientos="verMov" on-crear="crearcuenta"></visor-cuentas>
    <visor-movimientos hidden$={{!estoylogado}} id="movimientos"  on-logado="vercuentas" on-mov="nuevomovi"></visor-movimientos>
    <nuevo-movimiento hidden$={{!estoylogado}} id="nuevoMov" on-movimientoactualizado="vercuentas" ></nuevo-movimiento>
    <nuevo-usuario hidden$={{!estoylogado}} id="nuevoUsuarioRegistrar" on-logado="vercuentas" ></nuevo-usuario>
    <nueva-cuenta hidden$={{!estoylogado}} id="nuevaCuenta" on-nuevacuenta="vercuentas"></nueva-cuenta>
    <log-out hidden$={{!estoylogado}} id="logoutUsu" on-logoutusuariorealizado="inicializar"></log-out>
  </template>

  <script>

    class ContainerApp extends Polymer.Element {
      static get is() { return 'container-app'; }
      static get properties() {
        return {
          estoylogado:{
            type:Boolean,
            value:false
          },
          dni:{
            type:String,
          },
          apellidos:{
            type:String,
          },


        };
      }

      vercuentas(e){

        var dni=e.detail.dni
        this.dni=dni
        var apellidos=e.detail.apellidos
        this.apellidos=apellidos

        //con this.$ accedo al metodo del receptor y le llamo a la funcion d mostrarDatos pasandole lo que viene en e.detail que me ha devuelto el emisor en enviarEvento
        this.$.visor.obtenerCuentas(apellidos,dni)
        this.$.cabecera.flaglogado="logado"
        this.estoylogado=true
        this.$.cabecera.dni=dni
        this.$.movimientos.flaglogado=""
        this.$.movimientos.movimientos=""
        this.$.nuevoMov.flaglogado=""
      }
      nuevomovi(e){

        var iban=e.detail.iban
        var dni=e.detail.dni
        var apellidos=e.detail.apellidos
        this.$.nuevoMov.nuevoMov(iban,dni,apellidos)
        this.estoylogado=true
        this.$.movimientos.flaglogado=""

      }
      verMov(e)
      {
        var iban=e.detail.iban
        var apellidos=e.detail.apellidos
        this.$.movimientos.obtenerMovimientos(iban,apellidos,this.dni)


      }

      registro(e){
        this.estoylogado=true
        var usu=e.detail.nuevo
        this.$.nuevoUsuarioRegistrar.nuevoUsu(e)
        this.$.visor.flaglogado=""
        this.$.movimientos.flaglogado=""
        this.$.cabecera.flaglogado=""
        this.$.nuevoUsuarioRegistrar.flaglogado=""
        this.$.nuevoMov.flaglogado=""




      }
      crearcuenta(){
        var dni=this.dni
        var apellidos=this.apellidos
        this.$.cabecera.dni=dni
        this.$.cabecera.apellidos=apellidos
        this.$.nuevaCuenta.crearcuentausuario(dni,apellidos)
        this.$.movimientos.flaglogado=""
        this.$.visor.flaglogado=""


      }
      logoutUsuario(e){
         var dni=this.dni
        if (dni!=undefined)
        {
          this.$.logoutUsu.logout(dni)
          this.estoylogado=false

        }
        else{
          this.estoylogado=true
        }
        this.$.cabecera.flaglogado=""
      }
      inicializar(e){
        this.$.cabecera.flaglogado=""
        sessionStorage.removeItem("logado");
        sessionStorage.clear();
        this.estoylogado=false
        this.dni=""
        this.apellidos=""
        this.$.visor.no_cuentas=""
        this.$.visor.cuentas=""
        this.$.nuevaCuenta.flag=""

      }

    }

    window.customElements.define(ContainerApp.is, ContainerApp);
  </script>
</dom-module>
